#splash-desc {
    font-size: 1.5rem;
    display: flex;
    justify-content: space-around;
}

#splash-main {
    display: flex;
    flex-direction: column;
    justify-content: middle;
    align-items: center;
}

#splash-button {
    margin-top: 5rem;
    width: fit-content;
    display: block;
    font-weight: 600;
    padding: 16px;
    background: #21ce99;
    border-radius: 50px;
}

#splash-button:hover {
    cursor: pointer;
    transition: background-color 0.5s;
    background: #218f6a;
}

#buttons-container {
    display: flex;
    width: 30vw;
    justify-content: space-around;
}