.task {
    width: 50vw;
    padding: 0.5rem;
    border: 1px solid lightgray;
    background: rgb(240, 240, 240);
    border-radius: 15px;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#task-index-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.task-div {
    width: 25%;
}

.task-date {
    width: 60%;
}

.task-urgency {
    width: 10%;
    text-transform: capitalize;
}